<h1>All Contacts</h1>

<table class = "table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
  <% @contacts.each do |contact| %>
  <tr>
    <td><%= link_to contact.first_name, "/contacts/#{contact.id}" %></td>
    <td><%=contact.last_name%></td>
    <td><%=contact.email%></td>
    <td><%=contact.phone_number%></td>
  </tr>
  <% end %>
</table>

<%= link_to "Create New", "/contacts/new"%>
