<h1><%=@contact.first_name%></h1>

<p>First Name: <%=@contact.first_name%></p>
<p>Last Name: <%=@contact.last_name%></p>
<p>Email: <%=@contact.email%></p>
<p>Phone: <%=@contact.phone_number%></p>


<%= link_to "Home", "/contacts"%>
<%= link_to "Edit", "/contacts/#{@contact.id}/edit" %>
<%= link_to "Delete", "/contacts/#{@contact.id}", method: :delete %>